{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/a92226e44366b3ada332bf83a3ffd0a9.ico' %}" type="image/x-icon">
</head>

<body>

    <div class="background-container"></div>
    <nav>
        <div class="home-page-image">
            <a href="{% url 'home page' %}"><img
                    src="{% static 'images/png-clipart-white-and-orange-book-logo-symbol-yellow-orange-logo-ibooks-orange-logo.png' %}"
                    alt="" title="Libraria 20"></a>
        </div>
        {% block navbar_items %}
        {% endblock navbar_items %}

    </nav>
    <main>
        {% block main_content %}
        {% endblock main_content %}
    </main>
    <footer>
        <p>Denislav Dochev, SoftUni &copy 2024</p>
    </footer>

    <script src="{% static 'scripts/app.js' %}">
    </script>

</body>

</html>