{% extends "base_2.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block navbar_items %}
{% include "navbar-items.html" %}
{% endblock navbar_items %}

{% block main_content %}

{% if not books %}
<h1>No books added yet</h1>
{% else %}
<h1>Books</h1>
{% endif %}

{% if request.user.is_superuser %}
<div class="details-buttons">
    <a href="{% url 'book add' %}"><button>Add a new book</button></a>
</div>
{% endif %}
<section class="book-items-container">
    {% for book in books %}
        {% include 'book-card.html' %}
    {% endfor %}
</section>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock main_content %}