{% extends "base_2.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block navbar_items %}
{% include "navbar-items.html" %}
{% endblock navbar_items %}

{% block main_content %}

<div class="form-container">

<h1>Add a new book</h1>

    <form action="{% url 'book add' %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <p>* Mandatory field</p>

        <button type="submit">Submit</button>
    </form>
</div>

{% endblock main_content %}